

{% extends 'base.html' %}

{% block body %}
	<div>
		<h3>THIS IS PAGE 1</h3>
		{% if form %}
		<form method= "POST" action="">
			{{form.csrf_token}}

			<div class="form-group">
				{{form.pokemon_name.label}} 
				{{form.pokemon_name}}
			</div>
			<div class="form-group">
				{{form.pokemon_type01.label}} 
				{{form.pokemon_type01}}
			</div>
			<div class="form-group">
				{{form.pokemon_type02.label}} 
				{{form.pokemon_type02}}
			</div>
			<div class="form-group">
				{{form.pokemon_evolves_at.label}} 
				{{form.pokemon_evolves_at}}
			</div>
			<div class="form-group">
				{{form.pokemon_post_evolve.label}} 
				{{form.pokemon_post_evolve}}
			</div>
			<input type = "submit" formaction="{{url_for('update_pokemon', x=form.pokemon_no)}}" value = "Update" class="btn btn-success">
			<input type = "submit" formaction="{{url_for('delete_pokemon', pokemon_no=form.pokemon_no)}}" value = "Delete" class="btn btn-success">

		</form>	
		{% endif %}
	</div>
{% endblock %}

